@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500&family=Lato&family=Montserrat:wght@800&family=Outfit:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-black-900 text-white;
  }

  h1 {
    @apply text-5xl lg:text-8xl;
  }

  h2 {
    @apply text-3xl lg:text-5xl;
  }

  h3 {
    @apply text-3xl;
  }
}

.btn-gradient {
  @apply bg-gradient-to-r from-[#31C1E1] from-0% to-[#B24FFF] to-100% hover:bg-gradient-to-bl  transition-colors duration-300 rounded-lg;
}

.tab-gradient {
  @apply bg-gradient-to-r from-[#31C1E1] from-0% to-[#B24FFF] to-100% rounded-xl;
}

.border-gradient {
  border-width: 2px;
  border-image: linear-gradient(to right, #31c1e1, #b24fff);
  border-image-slice: 1;
}

.box-gradient {
  @apply bg-gradient-to-r from-[#232a3d] from-0% to-[#2126340f] to-100% border border-brand-border rounded-xl;
}

.green-gradient {
  @apply bg-gradient-to-r from-[#30931F] from-0% to-[#5CC32C] to-100%;
}

.blue-gradient {
  @apply bg-gradient-to-r from-[#1761DE] from-0% to-[#3590D1] to-100%;
}

.no-scroll::-webkit-scrollbar {
  height: 0px; /* Set the height of the scrollbar */
}
